@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --olayout-blue: '#2f3448';
  --olayout-peach: '#ffd5bd';
  --olayout-blueDark: '#3F4763';
  --olayout-blueLight: '#474f6e';

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--olayout-blue);
}


