@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --olayout-blue: '#2f3448';
  --olayout-peach: '#ffd5bd';
  --olayout-blueDark: '#3F4763';
  --olayout-blueLight: '#474f6e';

  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--olayout-blue);
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #120024;
}

::-webkit-scrollbar-thumb {
  background-color: #4c00ff;
  border-radius: 7px;
  border: 1px solid rgb(93 93 255 / 0.5);
}


@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}

.glow-white {
  filter: drop-shadow(0 0 20px white);
}

.glow-white:hover {
  filter: drop-shadow(0 0 10px white);
}


/* Dynamic Iland animation */
@keyframes increaseWidth {
  0% { width: 10rem/* 160px */ }
  50% { width: 25rem }
  100% { width: 24rem/* 384px */ }
}

@keyframes decreaseWidth {
  0% { width: 24rem/* 384px */ }
  50% { width: 9rem }
  100% { width: 10rem/* 160px */ }
}

/* Apply animation to the element */
.increase-width {
  animation: increaseWidth 0.5s forwards;
}

.decrease-width {
  animation: decreaseWidth 0.5s forwards;
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 5s ease-in-out infinite;
}